<div name="body" class="row">
  <form
    [formGroup]="data"
    style="
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    "
  >
    <div
      *ngFor="let control of data.controls"
      class="items"
      style="width: 100% !important;"
    >
      <ng-container [formGroup]="control">
        <div>
          <label>Entrenador {{ control.get("id").value }}</label>
        </div>
        <div>
          <label>Nombre: &nbsp;&nbsp;</label
          ><input style="margin-right: 2%;" formControlName="name" />
          <label>Valoración:&nbsp;&nbsp; </label>
          <input
            type="number"
            min="0.0"
            max="5.0"
            style="margin-right: 2%;"
            formControlName="reputationTrainer"
          />
        </div>
      </ng-container>
    </div>
  </form>
  <div class="row">
    <div class="text-right" style="margin-right: 10%; padding: 1%;">
      <button (click)="addClient()" type="button" class="btn btn-primary">
        Guardar
      </button>
    </div>
    <div class="text-right" style="margin-right: 10%; padding: 1%;">
      <button (click)="addClient()" type="button" class="btn btn-primary">
        Añadir cliene
      </button>
    </div>
  </div>
</div>
