.items{
  align-content: center;
          /* padding-bottom: 2%; */
          border-bottom: 1px solid;
          display: flex;
          /* padding-bottom: 2%; */
          border-bottom: 1px solid;
          flex-direction: column;
          width: 41%;
          height: 77px;
          justify-content: center;
}