<div class="container-fluid" *ngIf="!result">
  <div name="title" class="row">
    <div class="col-12 d-flex justify-content-center text-center">
      <h1>Pantalla de Configuración</h1>
    </div>
  </div>
  <div name="body" class="body">
    <form [formGroup]="trainers" class="form-style">
      <div
        class="form-group"
        *ngFor="let control of trainers.controls"
        style="
          display: flex;
          width: 100%;
          flex-direction: column;
          border-bottom: 1px solid;
        "
      >
        <form [formGroup]="control">
          <label for="exampleInputEmail1"
            >Entrenador {{ control.get("id").value }}</label
          >
          <div class="form-group row">
            <label for="Name" class="col-sm-1 col-form-label">Nombre</label>
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="name"
                formControlName="name"
              />
            </div>
            <label for="Name" class="col-sm-1 col-form-label">Valoración</label>
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                id="reputation"
                aria-describedby="reputation"
                formControlName="reputation"
              />
            </div>
            <label for="Name" class="col-sm-1 col-form-label"
              >Plazas disponibles</label
            >
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="name"
                formControlName="available"
              />
            </div>
          </div>
        </form>
      </div>
    </form>
    <div class="row">
      <div class="text-right" style="padding: 1%;">
        <button (click)="addTraner()" type="button" class="btn btn-primary">
          Añadir entrenador
        </button>
      </div>
    </div>
    <div class="row">
      <div
        class="text-center"
        style="padding: 1%; display: flex; justify-content: space-evenly;"
      >
        <button (click)="showClients()" type="button" class="btn btn-primary">
          Ver tabla clientes
        </button>
        <button
          (click)="generateAssassignment()"
          type="button"
          class="btn btn-primary"
        >
          Calcular resultados
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="result">
  <div name="title" class="row">
    <div class="col-12 d-flex justify-content-center text-center">
      <h1>Pantalla de resultados</h1>
    </div>
  </div>
  <!-- <div matTooltip="Info about the action">
    hols <i matTooltip= {{"Valoración" + item.reputation}} class="fas fa-info-circle"></i>
  </div> -->
  <div class="body-card">
    <div class="carInfo" *ngFor="let item of resultData">
      <div class="car-title hf-color">
        <div>{{ item.trainer.name }}</div>
        <div>
          <i matTooltip="Info about the action" class="fas fa-info-circle"></i>
        </div>
      </div>
      <div class="car-body">
        <label>Clientes: </label>
        <div *ngFor="let client of item.clients">
          {{ client.name }}
        </div>
      </div>
      <div class="hf-color">{{ item.clients.length }} clientes asignados</div>
    </div>
  </div>
</div>
